/* Lista de variables con colores*/
:root {
  --blue: #2196f3;
  --black: #212121;
  --gray: #757575;
  --bg: #2f303a;
  --ft: #ffffff99;
  --botones: #F5F4FA;
}

/* Ancho de la página */
html,
body,
header,
footer {
  width: 1600px;
}

/* Normalizador*/
@import "node_modules/modern-normalize/modern-normalize.css";

/* Aplicación de texto por defecto para la página */
body {
  font-family: "Roboto", sans-serif;
}

/* Logo de la pagina*/
.logo {
  font-family: "Raleway", sans-serif;
  color: var(--blue);
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 31px;
  font-style: normal;

  padding-top: 5px;
}

/* Cabecera de pagina */

header {
    border-bottom: 1px solid #ECECEC;
    display: flex;
}

.header-container {
  padding-top: 15px;
  margin-left: 215px;
  margin-right: 215;

  display: inline-flex;
  flex-wrap: wrap;
  height: 80px;
  width: 1200px;
}


.nav-container:nth-child(2) {
  padding-left: 20px;
}

.direcciones:nth-child(2) {
  padding-left: 200px;
}

.menu {
  list-style: none;
  display: inline-flex;
  padding-left: 50px;
}


.menu-text {
  color: var(--black);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.menu-text:hover {
  color: var(--blue);
}

.icon-telefono:hover, .icon-sobre:hover  {
  fill: var(--blue);
}


.contacts {
  color: var(--gray)
}


/* Contenido principal*/
.main-content {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

/* Llamado a la accion */
.action-container {
  color: white;
  text-align: center;
  letter-spacing: 0.06em;
  height: 600px;
  width: 100%;

  padding: 180px 425px 150px 425px;
  position: relative;
  
  background-image: url('/images/Background.jpg');
  
  z-index: 1;
}
/* Opacidad para imagen de fondo*/
.action-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(47, 48, 58, 0.4);
  z-index:-1;
}


#main-title {
  line-height: 60px;
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
}

#boton {
    background-color: var(--blue);
    height: 51px;
    width: 261px;

    border-radius: 4px;
} 

#boton > p {
    font-weight: 700;
    font-size: 16px;
    line-height: 10px;
    letter-spacing: 0.06em;
    text-align: center;
    color: white;
    gap: 10px;
}


/* Descripcion de los servicios */
.servicios-container {
  display: flex;

  padding-left: 215px;
  padding-right: 215px;
  margin-top: 95px;
  justify-content: space-between;
  width: 100%;
}

.services {
  width: 270px;
}

.ico-fondo {
  width: 100%;
  height: 120px;
  background: #F5F4FA;

  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.title {
    font-weight: 700;
    font-size: 14px;
  }
  
.contenido-serv {
  font-weight: 400;
  font-size: 14px;
  color: var(--gray);
  line-height: 24px;
}

/* Imagenes descriptivas */

.titulos{
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;

  text-align: center;
  padding-top: 74px;
  padding-bottom: 45px;
  letter-spacing: 0.03em;
}

.images-container {
  padding-left: 215px;
  padding-right: 215px;
  display: flexbox;
  width: 100%;
}

.images {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.container-text {
  position: relative;
  display: inline-block;
  text-align: center;
}

.text-img {
  position: absolute;
  top: 77.5%;

  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}

.text-img > p {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 13px;
}

/* Tarjetas de presentación */

.meet-cards {
  background: #f5f4fa;
  padding-top: 5px;
  padding-bottom: 62px;
}

.tarjeta-container {
  display: flex;
  justify-content: space-between;

  padding: 0 215px;
}

.card {
  list-style: none;
  text-align: center;
}
.wrp-img {
  background: white;
  padding-bottom: 15px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-title,
.card-description {
  font-size: 16px;
  line-height: 10px;
  text-align: center;
  letter-spacing: 0.03em;
}

.card-title {
  font-weight: 500;
  padding-top: 10px;
}

.card-description {
  font-weight: 400;
  color: var(--gray);
}

.ico-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;

  padding: 16px 44px 30px 44px;
}

.ico-cards > svg  {
  padding: 8px;
  
}

.ico-cards > svg:hover, .foot-logos >svg:hover {
  fill: white;
  background: var(--blue);
  border-radius: 50%;
 }

.regular-clients-container {
  width: 100%;
  padding: 0 215px 200px 215px;
}

.regular-clients-container > h2 {
  padding-top: 50px;
  padding-bottom: 25px;
}

.contenedor-logos {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  
}

.icon-Logo:hover, .icon-Logo-1:hover, .icon-Logo-2:hover, 
.icon-Logo-3:hover, .icon-Logo-4:hover, .icon-Logo-5:hover{
  fill: var(--blue);
  border: 1px solid var(--blue);
}

/* Footer */
.pie {
  display: flex;
  flex-wrap: wrap;

  background: var(--bg);
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  width: 100%;

  padding: 60px 0px 60px 215px;
  letter-spacing: 0.03em;
}

.dir {
  color: white;
  font-style: normal;
  margin-bottom: -12px
  
}

.cont {
    color: var(--ft);
    font-style: normal;
    margin-bottom: -12px
  }

.footer-social-container {
  padding-left: 100px;
}

.footer-social-container > h4 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;

  color: #FFFFFF;
}

.foot-logos {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.foot-logos > svg {
  height: 44px;
  width: 44px;
  padding: 7px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #FFFFFF;

}
/* Portaflio styles */

.navigation-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 106px 485px 50px;
    width: 100%;

}

.nav-boton {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 6px;
    letter-spacing: 0.03em;

    background-color: var(--botones);
    border: var(--botones);
    border-radius: 4px;

    padding: 0px 24px;
    margin-left: 6px;
}

.nav-boton:hover {
    background-color: var(--blue);
    color: white;
    cursor: pointer;
}

.cards-container {
    padding: 0px 215px 86px;
    width: 1600px;
    display: flex;
}

.portafolio-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
    padding: 0%;
    margin: 0%;
}

.tarjeta-portafolio{
    margin-bottom: 30px;
    background: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
    text-align: left;
}

.tarjeta-portafolio:hover {
    cursor: pointer;
}

.tarjeta-portafolio > h4 {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
    padding: 0px 24px;
}

.tarjeta-portafolio > p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    padding: 0px 24px;
    color: var(--gray);
}
